{% extends 'base.html' %}

{% block title %}
    {{ article.title }}|{{ site_name }}
{% endblock %}
{% block content %}
    <div class="panel">
        <div class="panel-heading navbar-default"><strong>{{ article.title }}</strong></div>
        <div class="alert alert-block">
            <span class="label label-success"><span class="glyphicon glyphicon-tags"><b>标签:</b></span></span>
            {% for tag in article.tag.all %}
                <a class="label label-success" href="{{ tag.get_absolute_url }}"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ tag }}</a>
            {% endfor %}
            <span class="label label-info"><span class="glyphicon glyphicon-time"><b>时间:</b></span></span>
            <span class="label label-info">{{ article.date_publish | date:"SHORT_DATE_FORMAT" }}</span>
        </div>
        <div class="panel-body">
            {% autoescape off %}
                {{ article.content }}
            {% endautoescape %}
        </div>
        <div class="panel-body">
            {% if prev_article %}
            <a class="left" href="{{ prev_article.get_absolute_url }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ prev_article.title }}</a>
            {% else %}
            <a class="left" href="#"><span class="glyphicon glyphicon-chevron-left"></span>无上一篇文章</a>
            {% endif %}
            <a class="left" href="#"><span class="glyphicon glyphicon-minus"></span></a>
            {% if next_article %}
            <a class="left" href="{{ next_article.get_absolute_url }}">{{ next_article.title }}<span class="glyphicon glyphicon-chevron-right"></span></a>
            {% else %}
            <a class="left" href="#">无下一篇文章<span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endif %}
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <script>
            var cloudTieConfig = {
            sourceId: "{{ article.id }}",
            productKey: "e53fde77481e4060b1397ad284f5b835",
            target: "cloud-tie-wrapper"
            };
            var yunManualLoad = true;
            Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
            </script>
            </div>
        </div>
    </div>
{% endblock %}
